In [14]:
import pandas as pd
from statsmodels.formula.api import logit
from plotnine import *
from clean_data import *

In [15]:
df = pd.read_csv("data/loan_level_500k.csv", low_memory=False, index_col=19)
df.head()

,CREDIT_SCORE,FIRST_PAYMENT_DATE,FIRST_TIME_HOMEBUYER_FLAG,MATURITY_DATE,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERCENTAGE,NUMBER_OF_UNITS,OCCUPANCY_STATUS,ORIGINAL_COMBINED_LOAN_TO_VALUE,ORIGINAL_DEBT_TO_INCOME_RATIO,...,PROPERTY_STATE,PROPERTY_TYPE,POSTAL_CODE,LOAN_PURPOSE,ORIGINAL_LOAN_TERM,NUMBER_OF_BORROWERS,SELLER_NAME,SERVICER_NAME,PREPAID,DELINQUENT
LOAN_SEQUENCE_NUMBER,,,,,,,,,,,,,,,,,,,,,
F199Q1000004,669.0,200206,N,202901,NaN,0.0,1.0,O,80.0,33.0,...,WV,SF,26100.0,P,320,2.0,Other sellers,Other servicers,True,False
F199Q1000005,732.0,199904,N,202903,17140.0,0.0,1.0,O,25.0,10.0,...,OH,SF,45200.0,N,360,1.0,Other sellers,Other servicers,True,False
F199Q1000007,679.0,200208,N,202902,15940.0,30.0,1.0,O,91.0,48.0,...,OH,SF,44700.0,P,319,1.0,Other sellers,Other servicers,True,False
F199Q1000013,721.0,200209,N,202902,38060.0,0.0,1.0,O,39.0,13.0,...,AZ,SF,85200.0,N,318,2.0,Other sellers,Other servicers,True,False
F199Q1000015,618.0,200210,N,202902,10420.0,25.0,1.0,O,85.0,24.0,...,OH,SF,44200.0,N,317,2.0,Other sellers,Other servicers,True,False

In [16]:
df = tidy_data(df)
df.head()

,CREDIT_SCORE,FIRST_TIME_HOMEBUYER_FLAG,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERCENTAGE,NUMBER_OF_UNITS,OCCUPANCY_STATUS,ORIGINAL_COMBINED_LOAN_TO_VALUE,ORIGINAL_DEBT_TO_INCOME_RATIO,ORIGINAL_UPB,ORIGINAL_LOAN_TO_VALUE,...,ORIGINAL_LOAN_TERM,NUMBER_OF_BORROWERS,SELLER_NAME,SERVICER_NAME,PREPAID,DELINQUENT,MATURITY_YEAR,MATURITY_MON,FIRST_PAYMENT_YEAR,FIRST_PAYMENT_MON
LOAN_SEQUENCE_NUMBER,,,,,,,,,,,,,,,,,,,,,
F199Q1000004,669.0,N,NaN,0.0,1.0,O,80.0,33.0,162000,80.0,...,320,2.0,Other sellers,Other servicers,True,False,2029,1,2002,6
F199Q1000005,732.0,N,17140.0,0.0,1.0,O,25.0,10.0,53000,25.0,...,360,1.0,Other sellers,Other servicers,True,False,2029,3,1999,4
F199Q1000007,679.0,N,15940.0,30.0,1.0,O,91.0,48.0,133000,91.0,...,319,1.0,Other sellers,Other servicers,True,False,2029,2,2002,8
F199Q1000013,721.0,N,38060.0,0.0,1.0,O,39.0,13.0,174000,39.0,...,318,2.0,Other sellers,Other servicers,True,False,2029,2,2002,9
F199Q1000015,618.0,N,10420.0,25.0,1.0,O,85.0,24.0,122000,85.0,...,317,2.0,Other sellers,Other servicers,True,False,2029,2,2002,10

To be able to run a logistic regression, we need to encode our boolean predictor with 1's and 0's. For this example, we will encode True (i.e a loan is delinquent) as 1 and False (i.e a loan is not delinquent) as 0.

In [17]:
df['DELINQUENT_ENCODING'] = [1 if i else 0 for i in df['DELINQUENT']]
df.head()

,CREDIT_SCORE,FIRST_TIME_HOMEBUYER_FLAG,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERCENTAGE,NUMBER_OF_UNITS,OCCUPANCY_STATUS,ORIGINAL_COMBINED_LOAN_TO_VALUE,ORIGINAL_DEBT_TO_INCOME_RATIO,ORIGINAL_UPB,ORIGINAL_LOAN_TO_VALUE,...,NUMBER_OF_BORROWERS,SELLER_NAME,SERVICER_NAME,PREPAID,DELINQUENT,MATURITY_YEAR,MATURITY_MON,FIRST_PAYMENT_YEAR,FIRST_PAYMENT_MON,DELINQUENT_ENCODING
LOAN_SEQUENCE_NUMBER,,,,,,,,,,,,,,,,,,,,,
F199Q1000004,669.0,N,NaN,0.0,1.0,O,80.0,33.0,162000,80.0,...,2.0,Other sellers,Other servicers,True,False,2029,1,2002,6,0
F199Q1000005,732.0,N,17140.0,0.0,1.0,O,25.0,10.0,53000,25.0,...,1.0,Other sellers,Other servicers,True,False,2029,3,1999,4,0
F199Q1000007,679.0,N,15940.0,30.0,1.0,O,91.0,48.0,133000,91.0,...,1.0,Other sellers,Other servicers,True,False,2029,2,2002,8,0
F199Q1000013,721.0,N,38060.0,0.0,1.0,O,39.0,13.0,174000,39.0,...,2.0,Other sellers,Other servicers,True,False,2029,2,2002,9,0
F199Q1000015,618.0,N,10420.0,25.0,1.0,O,85.0,24.0,122000,85.0,...,2.0,Other sellers,Other servicers,True,False,2029,2,2002,10,0

Now its time for the hypothesis testing! But first, let us understand what hypothesis testing is. Hypothesis testing is a statistical method of determining if your created model is a good fit or not. As the name indicates, in hypothesis testing you will have two hypotheses: a null hypothesis and an alternative hypothesis. You want to set up your hypothesis such that you reject the null hypothesis. What does it mean to reject the hypothesis though? This is where significance level comes into the picture. When setting up your experiment, in addition to the hypotheses, you set a significance level. If the p value of your random varaiable in within your siginficance level, also known as the rejection level, you reject the null hypothesis. While determining whether to reject your null hypothesis or not, be careful to determine what type of test you are setting up; is it one-tailed or two-tailed?

Let's look at an example now. In our example we will be looking to see if there is a linear correlation between credit score, originial combined loan to value, original UPB, originial loan to value, original interest rate, mortgage insurarnce percentage, number of borrowers, prepayment and delinquency. Since the variable that we are trying to predict is categorical (it can take two values 1 or True and 0 or False) we will be using a logistic regression instead of linear regression.

Before we run the test we must set up our hypotheses and the significance level:

$\alpha = 0.05$

$H_{o} = $ There is no linearity between the variables and delinquency

$H_{a} = $ There is linearity between the variables and delinquency

Below is the code to run logistic regression.

In [18]:
reg = logit('DELINQUENT_ENCODING ~ CREDIT_SCORE + ORIGINAL_COMBINED_LOAN_TO_VALUE + ORIGINAL_UPB + ORIGINAL_LOAN_TO_VALUE + ORIGINAL_INTEREST_RATE + MORTGAGE_INSURANCE_PERCENTAGE + NUMBER_OF_BORROWERS + PREPAID', df).fit()
reg.summary()

Optimization terminated successfully.
         Current function value: 0.095394
         Iterations 9

<class 'statsmodels.iolib.summary.Summary'>
"""
                            Logit Regression Results
===============================================================================
Dep. Variable:     DELINQUENT_ENCODING   No. Observations:               446305
Model:                           Logit   Df Residuals:                   446296
Method:                            MLE   Df Model:                            8
Date:                 Tue, 12 May 2020   Pseudo R-squ.:                  0.4099
Time:                         17:20:50   Log-Likelihood:                -42575.
converged:                        True   LL-Null:                       -72150.
Covariance Type:             nonrobust   LLR p-value:                     0.000
===================================================================================================
                                      coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Intercept                           5.2711      0.185     28.503      0.000       4.909       5.634
PREPAID[T.True]                    -4.1340      0.022   -191.844      0.000      -4.176      -4.092
CREDIT_SCORE                       -0.0116      0.000    -79.498      0.000      -0.012      -0.011
ORIGINAL_COMBINED_LOAN_TO_VALUE    -0.0284      0.006     -4.755      0.000      -0.040      -0.017
ORIGINAL_UPB                    -1.108e-06   1.88e-07     -5.896      0.000   -1.48e-06   -7.39e-07
ORIGINAL_LOAN_TO_VALUE              0.0496      0.006      8.054      0.000       0.038       0.062
ORIGINAL_INTEREST_RATE              0.2773      0.015     18.332      0.000       0.248       0.307
MORTGAGE_INSURANCE_PERCENTAGE       0.0055      0.001      4.761      0.000       0.003       0.008
NUMBER_OF_BORROWERS                -0.5496      0.020    -27.212      0.000      -0.589      -0.510
===================================================================================================
"""

After running the logistic regression, we can now see the coefficients for all the variables in our formula and their p values. According to the summary table, the p value for every variable is 0 which is within our rejection level. Therefore, we would reject the null hypothesis that there is no linear correlation between the variables and delinquency.