In [28]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas_profiling

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/freddie-mac-singlefamily-loanlevel-dataset/loan_level_500k.csv

In [29]:
df_raw =  pd.read_csv("/kaggle/input/freddie-mac-singlefamily-loanlevel-dataset/loan_level_500k.csv",
                  index_col=19,
                  low_memory=False)
df = df_raw.copy()

In [30]:
df.head()

,CREDIT_SCORE,FIRST_PAYMENT_DATE,FIRST_TIME_HOMEBUYER_FLAG,MATURITY_DATE,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERCENTAGE,NUMBER_OF_UNITS,OCCUPANCY_STATUS,ORIGINAL_COMBINED_LOAN_TO_VALUE,ORIGINAL_DEBT_TO_INCOME_RATIO,...,PROPERTY_STATE,PROPERTY_TYPE,POSTAL_CODE,LOAN_PURPOSE,ORIGINAL_LOAN_TERM,NUMBER_OF_BORROWERS,SELLER_NAME,SERVICER_NAME,PREPAID,DELINQUENT
LOAN_SEQUENCE_NUMBER,,,,,,,,,,,,,,,,,,,,,
F199Q1000004,669.0,200206,N,202901,NaN,0.0,1.0,O,80.0,33.0,...,WV,SF,26100.0,P,320,2.0,Other sellers,Other servicers,True,False
F199Q1000005,732.0,199904,N,202903,17140.0,0.0,1.0,O,25.0,10.0,...,OH,SF,45200.0,N,360,1.0,Other sellers,Other servicers,True,False
F199Q1000007,679.0,200208,N,202902,15940.0,30.0,1.0,O,91.0,48.0,...,OH,SF,44700.0,P,319,1.0,Other sellers,Other servicers,True,False
F199Q1000013,721.0,200209,N,202902,38060.0,0.0,1.0,O,39.0,13.0,...,AZ,SF,85200.0,N,318,2.0,Other sellers,Other servicers,True,False
F199Q1000015,618.0,200210,N,202902,10420.0,25.0,1.0,O,85.0,24.0,...,OH,SF,44200.0,N,317,2.0,Other sellers,Other servicers,True,False

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500137 entries, F199Q1000004 to F102Q1125993
Data columns (total 26 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   CREDIT_SCORE                      497426 non-null  float64
 1   FIRST_PAYMENT_DATE                500137 non-null  int64
 2   FIRST_TIME_HOMEBUYER_FLAG         369578 non-null  object
 3   MATURITY_DATE                     500137 non-null  int64
 4   METROPOLITAN_STATISTICAL_AREA     429988 non-null  float64
 5   MORTGAGE_INSURANCE_PERCENTAGE     449089 non-null  float64
 6   NUMBER_OF_UNITS                   500134 non-null  float64
 7   OCCUPANCY_STATUS                  500137 non-null  object
 8   ORIGINAL_COMBINED_LOAN_TO_VALUE   500124 non-null  float64
 9   ORIGINAL_DEBT_TO_INCOME_RATIO     485208 non-null  float64
 10  ORIGINAL_UPB                      500137 non-null  int64
 11  ORIGINAL_LOAN_TO_VALUE            500128 non-null  float64
 12  ORIGINAL_INTEREST_RATE            500137 non-null  float64
 13  CHANNEL                           500137 non-null  object
 14  PREPAYMENT_PENALTY_MORTGAGE_FLAG  494959 non-null  object
 15  PRODUCT_TYPE                      500137 non-null  object
 16  PROPERTY_STATE                    500137 non-null  object
 17  PROPERTY_TYPE                     500042 non-null  object
 18  POSTAL_CODE                       500106 non-null  float64
 19  LOAN_PURPOSE                      500137 non-null  object
 20  ORIGINAL_LOAN_TERM                500137 non-null  int64
 21  NUMBER_OF_BORROWERS               499890 non-null  float64
 22  SELLER_NAME                       500137 non-null  object
 23  SERVICER_NAME                     500137 non-null  object
 24  PREPAID                           500137 non-null  bool
 25  DELINQUENT                        500137 non-null  bool
dtypes: bool(2), float64(10), int64(4), object(10)
memory usage: 96.3+ MB

In [32]:
df.isna().sum()

CREDIT_SCORE                          2711
FIRST_PAYMENT_DATE                       0
FIRST_TIME_HOMEBUYER_FLAG           130559
MATURITY_DATE                            0
METROPOLITAN_STATISTICAL_AREA        70149
MORTGAGE_INSURANCE_PERCENTAGE        51048
NUMBER_OF_UNITS                          3
OCCUPANCY_STATUS                         0
ORIGINAL_COMBINED_LOAN_TO_VALUE         13
ORIGINAL_DEBT_TO_INCOME_RATIO        14929
ORIGINAL_UPB                             0
ORIGINAL_LOAN_TO_VALUE                   9
ORIGINAL_INTEREST_RATE                   0
CHANNEL                                  0
PREPAYMENT_PENALTY_MORTGAGE_FLAG      5178
PRODUCT_TYPE                             0
PROPERTY_STATE                           0
PROPERTY_TYPE                           95
POSTAL_CODE                             31
LOAN_PURPOSE                             0
ORIGINAL_LOAN_TERM                       0
NUMBER_OF_BORROWERS                    247
SELLER_NAME                              0
SERVICER_NAME                            0
PREPAID                                  0
DELINQUENT                               0
dtype: int64

In [33]:
df.describe()

,CREDIT_SCORE,FIRST_PAYMENT_DATE,MATURITY_DATE,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERCENTAGE,NUMBER_OF_UNITS,ORIGINAL_COMBINED_LOAN_TO_VALUE,ORIGINAL_DEBT_TO_INCOME_RATIO,ORIGINAL_UPB,ORIGINAL_LOAN_TO_VALUE,ORIGINAL_INTEREST_RATE,POSTAL_CODE,ORIGINAL_LOAN_TERM,NUMBER_OF_BORROWERS
count,497426.000000,500137.000000,500137.000000,429988.000000,449089.000000,500134.000000,500124.000000,485208.000000,500137.000000,500128.000000,500137.000000,500106.000000,500137.000000,499890.000000
mean,712.536212,200025.430952,203023.195872,30777.824739,7.744532,1.028890,76.053571,32.917541,136493.484785,75.710714,7.182687,55490.857138,359.855470,1.630295
std,54.791262,109.815541,110.384189,11333.401144,12.046546,0.218391,15.139986,11.111800,60968.743066,14.937717,0.579941,29505.382259,1.908251,0.482725
min,300.000000,199901.000000,202402.000000,10180.000000,0.000000,1.000000,6.000000,1.000000,8000.000000,6.000000,4.625000,600.000000,301.000000,1.000000
25%,676.000000,199904.000000,202903.000000,19740.000000,0.000000,1.000000,70.000000,25.000000,89000.000000,70.000000,6.875000,30500.000000,360.000000,1.000000
50%,719.000000,200005.000000,203004.000000,33340.000000,0.000000,1.000000,80.000000,33.000000,126000.000000,80.000000,7.000000,54200.000000,360.000000,2.000000
75%,756.000000,200105.000000,203104.000000,40420.000000,18.000000,1.000000,88.000000,41.000000,176000.000000,85.000000,7.375000,85000.000000,360.000000,2.000000
max,839.000000,201103.000000,204101.000000,49740.000000,55.000000,4.000000,180.000000,65.000000,578000.000000,100.000000,11.500000,99900.000000,362.000000,2.000000

In [34]:
df.dropna().describe()

,CREDIT_SCORE,FIRST_PAYMENT_DATE,MATURITY_DATE,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERCENTAGE,NUMBER_OF_UNITS,ORIGINAL_COMBINED_LOAN_TO_VALUE,ORIGINAL_DEBT_TO_INCOME_RATIO,ORIGINAL_UPB,ORIGINAL_LOAN_TO_VALUE,ORIGINAL_INTEREST_RATE,POSTAL_CODE,ORIGINAL_LOAN_TERM,NUMBER_OF_BORROWERS
count,280973.000000,280973.000000,280973.00000,280973.000000,280973.000000,280973.000000,280973.000000,280973.000000,280973.000000,280973.000000,280973.000000,280973.000000,280973.000000,280973.000000
mean,713.162656,200038.614757,203036.55080,30710.585231,8.728145,1.018959,77.882327,33.542579,141718.965879,77.443719,7.224639,55052.637442,359.872191,1.613372
std,53.188219,106.972129,107.13921,11351.171403,12.577207,0.173686,15.292863,10.939804,60934.301923,15.080550,0.602682,29575.418921,1.692732,0.486978
min,300.000000,199901.000000,202404.00000,10180.000000,0.000000,1.000000,6.000000,1.000000,10000.000000,6.000000,5.125000,600.000000,301.000000,1.000000
25%,676.000000,199905.000000,202904.00000,19740.000000,0.000000,1.000000,72.000000,26.000000,95000.000000,72.000000,6.875000,30200.000000,360.000000,1.000000
50%,719.000000,200103.000000,203102.00000,33260.000000,0.000000,1.000000,80.000000,34.000000,133000.000000,80.000000,7.000000,53200.000000,360.000000,2.000000
75%,756.000000,200105.000000,203104.00000,40220.000000,25.000000,1.000000,90.000000,41.000000,182000.000000,90.000000,7.500000,84700.000000,360.000000,2.000000
max,839.000000,200701.000000,203612.00000,49740.000000,55.000000,4.000000,180.000000,65.000000,529000.000000,100.000000,11.500000,99700.000000,361.000000,2.000000

Make Data tidy

In [35]:
def get_plot_and_stat(series):
    series.plot.box(vert=False)
    print(f"Med:{series.median()}, mean{series.mean()}")

In [36]:
df["MATURITY_YEAR"] =  df.MATURITY_DATE//100
df["MATURITY_MON"] =df.MATURITY_DATE%100
df.drop("MATURITY_DATE",inplace=True,axis = 1)

Filling missing values

In [ ]:
get_plot_and_stat(df.CREDIT_SCORE)

Fill numeric

In [ ]:
df["Missing_CREDIT_SCORE"] = df.CREDIT_SCORE.isna()
df.CREDIT_SCORE.fillna(df.CREDIT_SCORE.median(),inplace=True)
get_plot_and_stat(df.CREDIT_SCORE)

In [ ]:
get_plot_and_stat(df.MORTGAGE_INSURANCE_PERCENTAGE)

In [ ]:
df["Missing_MORTGAGE_INSURANCE_PERCENTAGE"] = df.MORTGAGE_INSURANCE_PERCENTAGE.isna()
df.MORTGAGE_INSURANCE_PERCENTAGE.fillna(df.MORTGAGE_INSURANCE_PERCENTAGE.mean(),inplace=True)
get_plot_and_stat(df.MORTGAGE_INSURANCE_PERCENTAGE)

In [ ]:
get_plot_and_stat(df.ORIGINAL_COMBINED_LOAN_TO_VALUE)

In [ ]:
df["Missing_ORIGINAL_COMBINED_LOAN_TO_VALUE"] = df.ORIGINAL_COMBINED_LOAN_TO_VALUE.isna()
df.ORIGINAL_COMBINED_LOAN_TO_VALUE.fillna(df.ORIGINAL_COMBINED_LOAN_TO_VALUE.mean(),inplace=True)
get_plot_and_stat(df.ORIGINAL_COMBINED_LOAN_TO_VALUE)

In [ ]:
get_plot_and_stat(df.ORIGINAL_DEBT_TO_INCOME_RATIO)

In [ ]:
df["Missing_ORIGINAL_DEBT_TO_INCOME_RATIO"] = df.ORIGINAL_DEBT_TO_INCOME_RATIO.isna()
df.ORIGINAL_DEBT_TO_INCOME_RATIO.fillna(df.ORIGINAL_DEBT_TO_INCOME_RATIO.mean(),inplace=True)
get_plot_and_stat(df.ORIGINAL_DEBT_TO_INCOME_RATIO)

In [ ]:
df["Missing_ORIGINAL_LOAN_TO_VALUE"] = df.ORIGINAL_LOAN_TO_VALUE.isna()
df.ORIGINAL_LOAN_TO_VALUE.fillna(df.ORIGINAL_LOAN_TO_VALUE.mean(),inplace=True)
get_plot_and_stat(df.ORIGINAL_LOAN_TO_VALUE)

CAT

In [ ]:
get_plot_and_stat(df.NUMBER_OF_BORROWERS)

In [ ]:
df["Missing_NUMBER_OF_BORROWERS"] = df.NUMBER_OF_BORROWERS.isna()
df.NUMBER_OF_BORROWERS.fillna(df.NUMBER_OF_BORROWERS.mode()[0],inplace=True)
get_plot_and_stat(df.NUMBER_OF_BORROWERS)

In [ ]:
df["Missing_NUMBER_OF_UNITS"] = df.NUMBER_OF_UNITS.isna()
df.NUMBER_OF_UNITS.fillna(df.NUMBER_OF_UNITS.mode()[0],inplace=True)
get_plot_and_stat(df.NUMBER_OF_UNITS)

In [ ]:
# get_plot_and_stat(df.FIRST_TIME_HOMEBUYER_FLAG)

In [ ]:
df["Missing_FIRST_TIME_HOMEBUYER_FLAG"] = df.FIRST_TIME_HOMEBUYER_FLAG.isna()
df.FIRST_TIME_HOMEBUYER_FLAG.fillna(df.FIRST_TIME_HOMEBUYER_FLAG.mode()[0],inplace=True)
# get_plot_and_stat(df.FIRST_TIME_HOMEBUYER_FLAG)

In [ ]:
get_plot_and_stat(df.METROPOLITAN_STATISTICAL_AREA)

In [ ]:
df["Missing_METROPOLITAN_STATISTICAL_AREA"] = df.METROPOLITAN_STATISTICAL_AREA.isna()
df.METROPOLITAN_STATISTICAL_AREA.fillna(df.METROPOLITAN_STATISTICAL_AREA.mode()[0],inplace=True)
# get_plot_and_stat(df.METROPOLITAN_STATISTICAL_AREA)

In [ ]:
# get_plot_and_stat(df.PREPAYMENT_PENALTY_MORTGAGE_FLAG)

In [ ]:
df["Missing_PREPAYMENT_PENALTY_MORTGAGE_FLAG"] = df.PREPAYMENT_PENALTY_MORTGAGE_FLAG.isna()
df.PREPAYMENT_PENALTY_MORTGAGE_FLAG.fillna(df.PREPAYMENT_PENALTY_MORTGAGE_FLAG.mode()[0],inplace=True)
# get_plot_and_stat(df.PREPAYMENT_PENALTY_MORTGAGE_FLAG)

In [ ]:
df["Missing_POSTAL_CODE"] = df.POSTAL_CODE.isna()
df.POSTAL_CODE.fillna(df.POSTAL_CODE.mode()[0],inplace=True)
# get_plot_and_stat(df.PREPAYMENT_PENALTY_MORTGAGE_FLAG)

In [ ]:
df["Missing_PROPERTY_TYPE"] = df.PROPERTY_TYPE.isna()
df.PROPERTY_TYPE.fillna(df.PROPERTY_TYPE.mode()[0],inplace=True)
# get_plot_and_stat(df.PREPAYMENT_PENALTY_MORTGAGE_FLAG)

In [ ]:
df.isna().sum()

In [ ]:
filled_numeric_df = (df.select_dtypes(["number","bool"])).apply(pd.to_numeric)
filled_numeric_df.head()

In [ ]:
filled_cat_df = df.select_dtypes(["category","object"])
filled_cat_df.head()

In [ ]:
from sklearn.preprocessing import *

In [ ]:
end = OneHotEncoder()

In [ ]:
end.fit(filled_cat_df.to_numpy())

In [ ]:
dummy_vars = end.fit_transform(filled_cat_df).toarray()

In [ ]:
dummy_df = pd.DataFrame(dummy_vars, index=filled_numeric_df.index,columns=end.get_feature_names())
dummy_df.head()

In [ ]:
joined_dum_cat_num_df = filled_numeric_df.join(dummy_df)
joined_dum_cat_num_df.head()

In [ ]:
y=  joined_dum_cat_num_df.DELINQUENT
x = joined_dum_cat_num_df.drop(["DELINQUENT","PREPAID","POSTAL_CODE"],axis=1)
x.head()

In [ ]:
y.head()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(oob_score=True,min_samples_leaf=int(173 **.5))

In [ ]:
clf.fit(x,y)

In [ ]:
def plot_feature_importance_for_model(data, feature_names, kind="bar", scale=False, keep_n=None, plot_kwargs=None, ):
    plot_kwargs = plot_kwargs or {}
    kind = kind.lower()
    keep_n = keep_n or len(feature_names)
    df = get_feature_importance_sorted(data, feature_names).head(keep_n)

    if scale:
        df.Importance /= df.Importance.sum()
    if kind == "pie":

        if not plot_kwargs:
            plot_kwargs = {"autopct": "%1.2f%%",
                           "legend": False,
                           "startangle": 15,
                           "shadow": True}

        plot_kwargs["y"] = "Importance"
        plot_kwargs["labels"] = df.Features
        df.plot.pie(**plot_kwargs)

    elif kind == "line":
        df.plot.line(**plot_kwargs)
    else:
        df.plot.bar(**plot_kwargs)


def get_feature_importance_sorted(data, feature_names):
    return pd.DataFrame(zip(data, feature_names), index=range(
        len(data)),
        columns=("Importance", "Features")
    ).sort_values("Importance", ascending=False).reset_index(drop=True)

In [ ]:
clf.oob_score_

In [ ]:
plot_feature_importance_for_model(clf.feature_importances_,x.columns,kind="pie",
                                  keep_n = 10,
                                  scale=True,
                                )

In [ ]:
new_x = x[get_feature_importance_sorted(clf.feature_importances_,x.columns,).Features.head(10)]
new_x

In [ ]:
clf.fit(new_x,y)

In [ ]:
plot_feature_importance_for_model(clf.feature_importances_,new_x.columns,kind="pie",
                                  keep_n=10,
                                  scale=True,
                                )

In [ ]:
clf.oob_score_

In [ ]:
clf.feature_importances_

In [ ]:
# pre 2008  and post

In [ ]:
# def get_pd_dataframe_vis(data, file_name=None, online=False):
#     profile = pandas_profiling.ProfileReport(data)
#     profile.to_file(f"{file_name}_profile.html")
# #     data.iplot(filename = f'{file_name}_cuff',asUrl=True,online=online)
# # get_pd_dataframe_vis(df,"pd")
# # %%html
# # <a href=" pd_profile.html">profile_link</a>