In [6]:
!git init 
!git remote add origin  "https://github.com/Rajashow/hippity-hoppity-your-data-is-my-property.git"

Reinitialized existing Git repository in D:/Code/hippity-hoppity-your-data-is-my-property/.git/
fatal: remote origin already exists.

In [7]:
!git pull origin master

Already up to date.
From https://github.com/Rajashow/hippity-hoppity-your-data-is-my-property
 * branch            master     -> FETCH_HEAD

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("data/loan_level_500k.csv")
df.head()

,CREDIT_SCORE,FIRST_PAYMENT_DATE,FIRST_TIME_HOMEBUYER_FLAG,MATURITY_DATE,METROPOLITAN_STATISTICAL_AREA,MORTGAGE_INSURANCE_PERCENTAGE,NUMBER_OF_UNITS,OCCUPANCY_STATUS,ORIGINAL_COMBINED_LOAN_TO_VALUE,ORIGINAL_DEBT_TO_INCOME_RATIO,...,PROPERTY_TYPE,POSTAL_CODE,LOAN_SEQUENCE_NUMBER,LOAN_PURPOSE,ORIGINAL_LOAN_TERM,NUMBER_OF_BORROWERS,SELLER_NAME,SERVICER_NAME,PREPAID,DELINQUENT
0,669.0,200206,N,202901,NaN,0.0,1.0,O,80.0,33.0,...,SF,26100.0,F199Q1000004,P,320,2.0,Other sellers,Other servicers,True,False
1,732.0,199904,N,202903,17140.0,0.0,1.0,O,25.0,10.0,...,SF,45200.0,F199Q1000005,N,360,1.0,Other sellers,Other servicers,True,False
2,679.0,200208,N,202902,15940.0,30.0,1.0,O,91.0,48.0,...,SF,44700.0,F199Q1000007,P,319,1.0,Other sellers,Other servicers,True,False
3,721.0,200209,N,202902,38060.0,0.0,1.0,O,39.0,13.0,...,SF,85200.0,F199Q1000013,N,318,2.0,Other sellers,Other servicers,True,False
4,618.0,200210,N,202902,10420.0,25.0,1.0,O,85.0,24.0,...,SF,44200.0,F199Q1000015,N,317,2.0,Other sellers,Other servicers,True,False

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500137 entries, 0 to 500136
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   CREDIT_SCORE                      497426 non-null  float64
 1   FIRST_PAYMENT_DATE                500137 non-null  int64
 2   FIRST_TIME_HOMEBUYER_FLAG         369578 non-null  object
 3   MATURITY_DATE                     500137 non-null  int64
 4   METROPOLITAN_STATISTICAL_AREA     429988 non-null  float64
 5   MORTGAGE_INSURANCE_PERCENTAGE     449089 non-null  float64
 6   NUMBER_OF_UNITS                   500134 non-null  float64
 7   OCCUPANCY_STATUS                  500137 non-null  object
 8   ORIGINAL_COMBINED_LOAN_TO_VALUE   500124 non-null  float64
 9   ORIGINAL_DEBT_TO_INCOME_RATIO     485208 non-null  float64
 10  ORIGINAL_UPB                      500137 non-null  int64
 11  ORIGINAL_LOAN_TO_VALUE            500128 non-null  float64
 12  ORIGINAL_INTEREST_RATE            500137 non-null  float64
 13  CHANNEL                           500137 non-null  object
 14  PREPAYMENT_PENALTY_MORTGAGE_FLAG  494959 non-null  object
 15  PRODUCT_TYPE                      500137 non-null  object
 16  PROPERTY_STATE                    500137 non-null  object
 17  PROPERTY_TYPE                     500042 non-null  object
 18  POSTAL_CODE                       500106 non-null  float64
 19  LOAN_SEQUENCE_NUMBER              500137 non-null  object
 20  LOAN_PURPOSE                      500137 non-null  object
 21  ORIGINAL_LOAN_TERM                500137 non-null  int64
 22  NUMBER_OF_BORROWERS               499890 non-null  float64
 23  SELLER_NAME                       500137 non-null  object
 24  SERVICER_NAME                     500137 non-null  object
 25  PREPAID                           500137 non-null  bool
 26  DELINQUENT                        500137 non-null  bool
dtypes: bool(2), float64(10), int64(4), object(11)
memory usage: 96.3+ MB